// Define variables for your color scheme

// For example:
$red: #773d4b;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #FFC65A;
$green: #9e9247;
$light-green:rgb(185, 197, 81)7;
$gray: #443c3c;
$light-gray: #F4F2E7;
$white: #FFFEFA;
