.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  width: auto;
}

.card-product {
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  border: 1px solid rgb(230,230,230);
}
