// Specific CSS for your home-page
#hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  background-color: $light-gray;
  h1 {
    font-size: 5rem;
    line-height: 4rem;
    color: $green;
  }
  p {
    font-size: 20px;
    line-height: 20px;
    color: $gray;
  }
}

.hero-right {
  padding: 20px;
}

.hero-image {
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
  width: 400px;
  border: 2px solid $green;
}

.home-features {
  border-top: 2px solid $green;
  padding: 100px 0px;
  text-align: center;
  h2 {
    color: $green;
    padding-bottom: 20px;
  }
}

.feature-container {
  display: flex;
  justify-content: space-between;
}

#feature {
  // padding: 50px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  // color: $white;
  margin: 20px;
  border: 2px solid $green;
  // background-color: $green;
  // height: 20vh;
  // width: 20vh;
  i {
    font-size: 30px;
    padding-bottom: 15px;
    color: $green;
  }
  h3 {
    color: $green;
  }
}

@media (max-width: 1024px) {
  #hero {
    align-items: left;
    h1 {
      font-size: 5rem;
    }
    .hero-image {
      width: 100%;
    }
  }
}

@media (max-width: 375px) {
  .feature-container {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
  }
  #hero {
    align-items: left;
    h1 {
      font-size: 4rem;
      line-height: 4rem;
    }
    padding: 10px;
  }
  .hero-image {
    width: 100%;
  }
}

.hero-left {

  .btn {
      margin-top: 5px;
  }

}

.btn-ghost {
  color: #9E9247;
  border: 1px solid #9E9247;
  border-width: thing;
  padding: 8px 18px;
  border-radius: 20px;
  font-weight: 1px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin: 4px;
}
