#dash-card {
  width: 100%;
  display: flex;
  justify-content: right;
  .card-img-top {
    height: 30rem;
  }
}

.top-card {
  position: absolute;
  border-top-left-radius: 100px!important;
  // border-bottom-left-radius: 100px!important;
  border-bottom-right-radius: 100px!important;
  height: 15%;
  width: 100%;
  background-color: $green;
  display: flex;
  justify-content: center;
  align-items: center;
  top:0;
  right:0;
  // margin-left: 170px;
}

.inside-top-card {
  color: $white;
  font-family: $body-font;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 300;
  text-transform: uppercase;
}

.top-card-book-received {
  position: absolute;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  height: 15%;
  width: 100%;
  background-color: $red;
  display: flex;
  justify-content: center;
  align-items: center;
  top:0;
  right:0;
}

.booking-details {
  display: flex;
}

.price-tag-dash {
  border-top-left-radius: 100px!important;
  border-bottom-right-radius: 100px!important;
  // border: 1px solid $green;
  background-color: $green;
  color: $white;
  // border-radius: 5px;
  padding: 10px 40px;
  align-items: center;
  justify-content: center;
  p {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
  }
}

.rental-duration {
  border-top-left-radius: 100px!important;
  border-bottom-right-radius: 100px!important;
  background-color: $light-gray;
  // border: 1px solid $green;
  color: $green;
  // border-radius: 5px;
  padding: 10px 40px;
  align-items: center;
  justify-content: center;
  p {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
  }
}
