.plant-show-image {
  // width: 80%;
  border-bottom-right-radius: 100px!important;
  border-top-left-radius: 100px!important;
  width: 100%;
  height: 40rem;
  object-fit: cover;
  width: 30rem;
}

.plant-info {
  padding: 40px;
  h3 {
    font-family: $body-font;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $red;
  }
}

.plant-content {
  // padding: 40px;
  margin: 30px;
  background-color: $white;
  border-bottom-right-radius: 100px!important;
  border-top-left-radius: 100px!important;
}

.plant-gallery-image {
  width: 100%;
  object-fit: cover;
  // margin: 30px;
  // width: 18rem;
  border-bottom-right-radius: 50px!important;
  border-top-left-radius: 50px!important;
}

.slideshow-image {
  // width: 500px;
  min-width: 100%;
  object-fit: cover;
  // position: fixed;
}

.modal-content {
  background-color: none;
}

.show-reviews {
  display: flex;
  flex-direction: column;
}

.review {
  margin-bottom: 20px;
  width: 50%;
  padding: 30px;
  border-top: 2px solid $green;
  // border-bottom-right-radius: 50px!important;
  // border-top-left-radius: 50px!important;
}

#star {
  color: $green;
}

@media (max-width: 988px) {
  .plant-content {
    // width: 80%;
    width: 100%;
    // width: 35rem;
    margin: 10px;
    flex-wrap: wrap;
  }
  .plant-show-image {
    // width: 35rem;
    // width: 100%;
    width: 100%;
  }
  .review {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .plant-content {
    // width: 80%;
    width: 90%;
    // width: 35rem;
    margin: 10px;
  }
  .plant-show-image {
    // width: 35rem;
    // width: 100%;
    width: 100%;
    // height: 40rem;
  }
}

@media (max-width: 576px) {
  .plant-content {
    // width: 20rem;
    width: 90%;
    margin: 10px;
  }
  .plant-show-image {
    // width: 20rem;
    width: 100%;
    height: 20rem;
  }
}


@media (max-width: 375px) {
  .plant-content {
    width: 90%;
    margin: 5px;
    // width: 16rem;
    // margin: 10px;
  }
  .plant-show-image {
    width: 100%;
    // width: 16rem;
    height: 20rem;
  }
  .carousel {
    display: none;
  }
}

.btn-ghost {
  color: #9E9247;
  border: 1px solid #9E9247;
  border-width: thing;
  padding: 8px 18px;
  border-radius: 20px;
  font-weight: 1px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin: 4px;
}
